@{
	ViewData["Title"] = "Gestionale Staff";
}

<div class="text-center">
	<h1 class="display-4">Sei nella pagina gestionale della biblioteca.</h1>
	<div>
		<p>Clicca qui per AGGIUNGERE UN NUOVO LIBRO</p>
		@Html.ActionLink("Aggiungi Libro", "AggiungiLibro")
	</div>
	<div>
		<p>Clicca qui per AGGIUNGERE UN NUOVO UTENTE</p>
		@Html.ActionLink("Aggiungi Utente", "AggiungiUtente")
	</div>
</div>
