@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto nel Programma Gestionale della Biblioteca MVC</h1>
    <p>Seleziona una delle voci del menù per effettuare le tue operazioni.</p>
</div>
